<p>
  <mat-toolbar color="primary"> 
    <div style="text-align: center; margin:0 auto; font-size: 30px;">
      <span >StockStatuss</span>
    </div>
  </mat-toolbar>
</p>


<div style="text-align: center; margin:0 auto;">
  <h1>Welcome to StockStatus</h1>
</div>

<div style="text-align: center;">
  <img [src]="logo" alt="StockStatus Logo" class="centre" >
</div>
<br>

<div class="flex-parent jc-center">
<button class = "margin-right" style =" font-size: 20px; width: 100px; height: 50px" mat-raised-button color="primary" [routerLink]="['login']">Login</button>
<button style =" font-size: 20px; width: 100px; height: 50px" mat-raised-button color="primary" type="button" [routerLink]="['register']">Register</button>
</div>

 





