
.pp {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    right:10px;
    top: 0px;;
}



mat-card {
  border: 1px solid black;
  width: 350px;   
  height: 500px;
  padding-top: 20px;
  
}

.form {
    border: 1px solid black;
    width: 350px;   
    height: 300px;
    justify-content: center;
    align-items: center; 
  }

.title_center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.buttons {
  display: flex; 
  justify-content: center;
  padding-top: 30px;

 
  
}

.side-by-side 
    { 
      float:left; 
      padding:0px 20px; 
    } 

.parent {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.icon-display {
  transform: scale(2);
}
div{
  display: flex;
  justify-content: center;
  align-items: center; 

  
}