table {
    width: 95%;
  }

.pp {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    right:10px;
    top: 0px;;
}

.left{
    width: 500px;
    height: 500px;
    float: left;
    margin-left: 2px;
    
}
.right{
    width: 500px;
    height: 500px;
    float: right;
    margin-right: 2px;
    position: absolute;
    right:150px;
    top: 260px;

    
}

div {
  display: flex;
  text-align: center;
  padding: 65px;
}

mat-card {
  border: 1px solid black;
  width: 350px;   
  height: 450px;
  /* justify-content: center; */
  /* position: fixed; */
  /* left: 50%; */
  /* bottom: 50px; */
  /* transform: translate(-50%, -50%); */
  margin: 0 auto; 

  
}

.form {
    border: 1px solid black;
    width: 350px;   
    height: 300px;
    justify-content: center;
    align-items: center; 
  }

.title_center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.buttons {
  display:block; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -80px;
  /* display: flex; 
  text-align: center; 
  justify-content: center;  */
  /* justify-content: center;
  position: fixed; */
  /* left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%); */
  /* margin: 0 auto; */
}

.side-by-side 
    { 
      float:left; 
      padding:0px 20px; 
    } 

.parent {
  display: flex;
  height: fit-content;
  width: fit-content;
}

/* body{
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
} */

.toolbar{
  /* position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important; */
  /* margin: 0px;
  width: 100%; */
}