<p>
    <mat-toolbar color="primary" style="height:90px;" > 
      <div style="text-align: center; margin:0 auto; font-size: 70px;">
        <span >StockStatuss</span>
      </div>
    </mat-toolbar>
</p>



<h2 style="text-align:center; font-size: 30px;">Welcome to StockStatuss {{ username }} !</h2>
<h3 style="text-align:center; font-size: 20px;">Track your stock purchases below</h3>

<img [src]="this.imgSrc"  alt="profile picture">

<table mat-table class="mat-elevation-z8" style="margin:auto">
    <thead>
        <tr style="text-align: center;">
            <th>#</th>
            <th>Purchase Date</th>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Quantity</th>
            <th>Stock Price (US$)</th>
            <th>Total Price (US$)</th>
            <th> Total Stock Purchase Value (US$)</th>
            <th> Stock Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let stock of stockList; let idx = index;" style="text-align:center">
            <td> {{ idx + 1 }}</td>
            <td> {{ stock.purchaseDate }}</td>
            <td> {{ stock.symbol }}</td>
            <td> {{ stock.companyName }}</td>
            <td> {{ stock.quantity }}</td>
            <td> {{ stock.stockPrice }}</td>
            <td> {{ stock.totalPrice }}</td>
            <td> {{ stock.stockValue }}</td>
            <td *ngIf = "stock.totalPrice <= stock.stockValue then profit else loss"></td>
            <ng-template #profit><td bgcolor="green"></td></ng-template>
            <ng-template #loss><td bgcolor="red"></td></ng-template>
       
           
         
            <td><button type="button" mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="deleteStock(stock)" color="warn">
                <mat-icon>delete</mat-icon></button></td>
        </tr>
    </tbody>
</table>

<h3>Search by Company Symbol</h3>
<form [formGroup]="form" (ngSubmit)="bySymbol()">
    <tbody>
        <tr>
            <td>Symbol:</td>
            <td>
                <input type="text" formControlName="symbol">
            </td>
        </tr>
        <br>
        <tr>
            <td><button type="submit" [disabled]="form.invalid">Search</button></td>
        </tr>
    </tbody>
</form>

<h3>Search by Date</h3>
<form [formGroup]="dateForm" (ngSubmit)="byDate()">
    <tbody>
        <tr>
            <td>Date:</td>
            <td>
                <input type="text" formControlName="purchaseDate">
            </td>
        </tr>
        <br>
        <tr>
            <td><button type="submit" [disabled]="dateForm.invalid">Search</button></td>
        </tr>
    </tbody>
</form>
<br>
<br>

<button type="button" [routerLink]="[ '/addStock', userId ]">Add Stock Purchases</button>
<br>
<br>
<br>
<div>
<button type="button" (click)="userLogout()">Logout</button>
</div>



