<h2>Welcome to StockStatus</h2>
<h3>Here are your stock purchases</h3>

<img [src]="this.imgSrc" alt="profile picture">

<table class="table">
    <thead>
        <tr style="text-align: center;">
            <th>#</th>
            <th>Purchase Date</th>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Quantity</th>
            <th>Stock Price (US$)</th>
            <th>Total Price (US$)</th>
            <th>Stock Value (US$)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let stock of stockList; let idx = index;">
            <td> {{ idx + 1 }}</td>
            <td> {{ stock.purchaseDate }}</td>
            <td> {{ stock.symbol }}</td>
            <td> {{ stock.companyName }}</td>
            <td> {{ stock.quantity }}</td>
            <td> {{ stock.stockPrice }}</td>
            <td> {{ stock.totalPrice }}</td>
            <td> {{ stock.stockValue }}</td>
            <td><button type="button" (click)="deleteStock(stock)">X</button></td>
        </tr>
    </tbody>
</table>

<h3>Search by Company Symbol</h3>
<form [formGroup]="form" (ngSubmit)="bySymbol()">
    <tbody>
        <tr>
            <td>Symbol:</td>
            <td>
                <input type="text" formControlName="symbol">
            </td>
        </tr>
        <br>
        <tr>
            <td><button type="submit">Search</button></td>
        </tr>
    </tbody>
</form>

<h3>Search by Date</h3>
<form [formGroup]="dateForm" (ngSubmit)="byDate()">
    <tbody>
        <tr>
            <td>Date:</td>
            <td>
                <input type="text" formControlName="purchaseDate">
            </td>
        </tr>
        <br>
        <tr>
            <td><button type="submit">Search</button></td>
        </tr>
    </tbody>
</form>
<br>
<br>

<button type="button" [routerLink]="[ '/addStock', userId ]">Add Stock Purchases</button>
<br>
<br>
<br>
<div>
<button type="button" (click)="userLogout()">Logout</button>
</div>


